include ./layouts/header.jade

style.
  table, th, td {
  border: 1px solid black;}


div.container-fluid.page-wrap
  div.row
    h1.Title.text-center Admin Console
    div.col-md-6.col-md-offset-1
      div.All-Classes
        h3.Title Activities
        table.table-striped.table-bordered
          thead
            tr
              th Program
              th Type
              th ProgramId
              th Price
              th Term
          tbody
            each row in programs
              tr
                td
                  a(href="../programs/#{row.programId}")= row.name
                td
                  = row.programType
                td
                  = row.programId
                td
                  = row.price
                td
                  = row.term
                td  <form method="post" action="/adminDropProgram"><button type="submit" name="submit" value="#{row.programId}">Drop</button></form>
                td <form method="get" action="/editprogram/#{row.programId}"><button type="submit">Edit</button></form>
            <form method="post" action="/adminAddProgram">
            - var types = ["dropin", "intramural", "class"]
            tr
              td <input type="text" name="name" pattern="[a-zA-Z0-9]" placeholder="a-Z, 0-9">
              td
                select(type="text" name="programType")
                 each type, i in types
                  option #{type}
              td <input type="number" name="programId" min="0" max="999" placeholder="999" >
              td <input type="number" name="price" min="0" placeholder="in dollars">
              td <input type="number" name="term" min="1" max="2" placeholder="1">
              td <input type="submit" value="Add Program">
            </form>

      div.All-locations
        h3.Title Locations
        table.table-striped.table-bordered
          thead
            tr
              th Location
              th Capacity
              th Address
          tbody
            each row in locations
              tr
                td
                  = row.name
                td
                  = row.capacity
                td
                  = row.address
                td  <form method="post" action="/adminDropLocation"><button type="submit" name="name" value="#{row.name}">Drop</button><input type="hidden" name="address" value="#{row.address}"></form>
                td <form method="get" action="/editlocation/#{row.name}-#{row.address}"><button type="submit">Edit</button></form>
            <form method="post" action="/adminAddLocation">
            tr
              td <input type="text" name="name" pattern="[a-zA-Z0-9]" placeholder="a-Z, 0-9">
              td <input type="number" name="capacity" min="0">
              td <input type="text" name="address" pattern="[a-zA-Z0-9]" placeholder="a-Z, 0-9">
              td <input type="submit" value="Add Location">
            </form>
      div.All-users
        h3.Title Users
        table.table-striped.table-bordered
          thead
            tr
              th Name
              th Email
              th User Id
              th IsAdmin
              th IsInstructor
              th IsUBC
              th Credit Card
              th Expiry Date
              th Password
          tbody
            each row in users
              tr
                td
                  = row.name
                td
                  = row.email
                td
                  = row.userId
                td
                  = row.isAdmin
                td
                  = row.isInstructor
                td
                  = row.isUBC
                td
                  = row.creditCard
                td
                  = row.expiryDate
                td <input type="password" value=#{row.passwordHash} readonly>
                td  <form method="post" action="/adminDeleteUser"><button type="submit" name="userId" value="#{row.userId}">Drop</button></form>
                td <form method="get" action="/edituser/#{row.userId}"><button type="submit">Edit</button></form>
            <form method="post" action="/adminAddUser">
            tr
              td <input type="text" name="name" pattern="[a-zA-Z0-9]" placeholder="a-Z, 0-9">
              td <input type="email" name="email">
              td <input type="number" name="userId" min="0">
              td <input type="number" name="isAdmin" min="0" max="1">
              td <input type="number" name="isInstructor" min="0" max="1">
              td <input type="number" name="isUBC" min="0" max="1">
              td <input type="number" name="creditCard" min="0">
              td <input type="date" name="expiryDate" step="1">
              td <input type="password" name="password">
              td <input type="submit" value="Add User">
            </form>
      div.All-instructors
        h3.Title Instructors
        p Adding an instructor makes an existing user an instructor, removing one makes an existing instructor an ordinary user
        table.table-striped.table-bordered
          thead
            tr
              th Name
              th User Id
              th Email
          tbody
            each row in instructors
              tr
                td
                  = row.name
                td
                  = row.userId
                td
                  = row.email
                td  <form method="post" action="/adminRemoveInstructor"><button type="submit" name="userId" value="#{row.userId}">Remove</button></form>
                td <form method="get" action="/editinstructor/#{row.userId}"><button type="submit">Edit</button></form>
            <form method="post" action="/adminAddInstructor">
            tr
              td
                select(type="text" name="instructor")
                 each user, i in users
                  option #{user.name}-#{user.userId}
              td <input type="submit" value="Add Instr.">
            </form>
      p.

include ./layouts/footer.jade
