include ./layouts/header.jade

style.
  table, th, td {
  border: 1px solid black;}


div.container-fluid.page-wrap
  div.row
    h1.Title.text-center Admin Console
    div.col-md-6.col-md-offset-3
      div.All-Classes
        h3.Title Activities
        table
          thead
            tr
              th Program
              th Type
              th ProgramId
              th Price
              th Term
          tbody
            each row in programs
              tr
                td
                  a(href="../programs/#{row.programId}")= row.name
                td
                  = row.programType
                td
                  = row.programId
                td
                  = row.price
                td
                  = row.term
                td  <form method="post" action="/adminDropProgram"><button type="submit" name="submit" value="#{row.programId}">Drop</button></form>
                td <form method="get" action="/editprogram/#{row.programId}"><button type="submit">Edit</button></form>
            <form method="post" action="/adminAddProgram">
            - var types = ["dropin", "intramural", "class"]
            tr
              td <input type="text" name="name">
              td
                select(type="text" name="programType")
                 each type, i in types
                  option #{type}
              td <input type="text" name="programId">
              td <input type="text" name="price">
              td <input type="text" name="term">
              td <input type="submit" value="Add Program">
            </form>

      div.All-locations
        h3.Title Locations
        table
          thead
            tr
              th Location
              th Capacity
              th Address
          tbody
            each row in locations
              tr
                td
                  = row.name
                td
                  = row.capacity
                td
                  = row.address
                td  <form method="post" action="/adminDropLocation"><button type="submit" name="submit" value="#{row.name}">Drop</button></form>
            <form method="post" action="/adminAddLocation">
            tr
              td <input type="text" name="name">
              td <input type="text" name="capacity">
              td <input type="text" name="address">
              td <input type="submit" value="Add Location">
            </form>
      div.All-users
        h3.Title Users
        table
          thead
            tr
              th Name
              th Email
              th User Id
              th IsAdmin
              th IsInstructor
              th IsUBC
          tbody
            each row in users
              tr
                td
                  = row.name
                td
                  = row.email
                td
                  = row.userId
                td
                  = row.isAdmin
                td
                  = row.isInstructor
                td
                  = row.isUBC
                td  <form method="post" action="/adminDeleteUser"><button type="submit" name="submit" value="#{row.userId}">Drop</button></form>
            <form method="post" action="/adminAddUser">
            tr
              td <input type="text" name="name">
              td <input type="text" name="email">
              td <input type="text" name="userId">
              td <input type="text" name="isAdmin">
              td <input type="text" name="isInstructor">
              td <input type="text" name="isUBC">
              td <input type="submit" value="Add User">
            </form>
      div.All-instructors
        h3.Title Instructors
        table
          thead
            tr
              th Name
              th Email
              th User Id
              th IsAdmin
              th IsUBC
          tbody
            each row in instructors
              tr
                td
                  = row.name
                td
                  = row.email
                td
                  = row.userId
                td
                  = row.isAdmin
                td
                  = row.isUBC
                td  <form method="post" action="/adminDeleteUser"><button type="submit" name="submit" value="#{row.userId}">Drop</button></form>
            <form method="post" action="/adminAddInstructor">
            tr
              td <input type="text" name="name">
              td <input type="text" name="email">
              td <input type="text" name="userId">
              td <input type="text" name="isAdmin">
              td <input type="text" name="isUBC">
              td <input type="submit" value="Add Instr.">
            </form>
      p.

include ./layouts/footer.jade
