include ./layouts/header.jade

style.
  table, th, td {
  border: 1px solid black;}

div.container-fluid.page-wrap
  div.row
    div.col-md-10.col-md-offset-1
      h1.Title.text-center Edit Program
      div.row
        div.col-md-6.col-md-offset-3.text-center
          | <br>
          table
            thead
              tr
                th Program Name
            tbody
              each row, i in program
                tr
                  td
                    =row.name
                  <form method="post" action="/editProgramName">
                  td <input type="text" name="name">
                  td <button name="programId" type="submit" value=#{programId}>Change</button>
                  </form>
          | <br>
          table
            thead
              tr
                th Price
            tbody
              each row, i in program
                tr
                  td
                    =row.price
                  <form method="post" action="/editProgramPrice">
                  td <input type="text" name="price">
                  td <button name="programId" type="submit" value=#{programId}>Change</button>
                  </form>

          | <br>
          table
            thead
              tr
                th Location Name
                th Location Address
            tbody
              each row, i in locations
                tr
                  td
                    =row.name
                  td
                    =row.address
                  <form method="post" action="/editProgramLocation">
                  td
                    select(type="text" name="location")
                      each loc, i in availableLocations
                        option #{loc.name}-#{loc.address}
                  td <button name="programId" type="submit" value=#{programId}>Change</button>
                  </form>
          | <br>
          table
            thead
              tr
                th User Name
                th User ID
            tbody
              each row, i in users
                tr
                  td
                    =row.name
                  td
                    =row.userId
                  td  <form method="post" action="/dropUserFromProgram/"><input type="hidden" name="programId" value=#{programId}><button type="submit" name="userId" value="#{row.userId}">Drop</button></form>

              tr
                <form method="post" action="/addUsersToProgram">
                td
                  select(type="text" name="user")
                    each user, i in availableUsers
                      option #{user.name}-#{user.userId}
                  <input type="hidden" name="programId" value=#{programId}>
                  <input type="hidden" name="price" value=#{price}>
                td <button type="submit">Add</button>
                </form>

          | <br>
          table
            thead
              tr
                th Instructor Name
                th Instructor ID
            tbody
              each row, i in instructor
                tr
                  td
                    =row.name
                  td
                    =row.userId
                  <form method="post" action="/editInstructor">
                  td
                    select(type="text" name="userId")
                      each user, i in availableInstructors
                        option(value="#{user.userId}") #{user.name} #{user.userId}
                    <input type="hidden" name="programId" value=#{programId}>
                  td <button type="submit">Change</button>
                  </form>
          | <br>

include ./layouts/footer.jade
