include ./layouts/instr_header.jade

style.
  table, th, td {
  border: 1px solid black;}

div.container-fluid.page-wrap
  div.row
    div.col-md-10.col-md-offset-1
      h1.Title.text-center Hello Instructor ##{message}
      div.row
        p.text-center Here is where instructors can view exisitng, add, delete, and update programs.
        | <br>
        p Programs I'm Teaching
        table.table-striped.table-bordered
          thread
                tr
                  th Name &nbsp
                  th Program Type &nbsp
                  th Term &nbsp
                  th Program Id &nbsp
                  th Price
              tbody
                each row, i in registered
                  tr
                    td
                      =row.name
                    td
                      =row.programType
                    td
                      =row.term
                    td
                      a(href="../programs/#{row.programId}")= row.programId
                    td
                      =row.price
                    td
                      |<form method="post"><button type="submit" name="drop" value=#{row.programId}>Drop Class</button></form>
                    td <form method="get" action="/editclass/#{row.programId}"><button type="submit">Edit</button></form>
                <form method="post" action="/instructorAddClass">
            - var types = ["class"]
            tr
              td <input type="text" name="name">
              td
                select(type="text" name="programType")
                 each type, i in types
                  option #{type}
              td <input type="text" name="term">
              td <input type="text" name="programId">
              td <input type="text" name="price">
              td <button type="submit" name="userId" value="#{message}">Add Class</button>
            </form>

            p.
              
include ./layouts/footer.jade