include ./layouts/header.jade

style.
  table, th, td {
  border: 1px solid black;}

div.container-fluid.page-wrap
  div.row
    div.col-md-10.col-md-offset-1
      h1.Title.text-center Program ##{message}
      div.row
        div.col-md-8.col-md-offset-2.text-center
          | <br>
          p Information about program ##{message}
          table 
            thead
              tr
                th Program Type
                th Term
                th Price
                th Name 
                th Program Id
            tbody
                tr
                  td #{program.programType}
                  td #{program.term}
                  td #{program.price}
                  td #{program.name}
                  td #{program.programId}
          | <br>
          | <br>
          table 
            thead
              tr
                th Start Time
                th End Time
                th Day of Week
                th Location
                th Address
                th Teacher
                th # of Enrolled
            tbody
                tr
                  td #{occurs.startTime}
                  td #{occurs.endTime}
                  td #{occurs.dayOfWeek}
                  td #{islocated.name}
                  td #{islocated.address}
                  td #{teacher.name}
                  td #{count}
            

                    
                          
include ./layouts/footer.jade
