include ./layouts/header.jade

style.
  table, th, td {
  border: 1px solid black;}

div.container-fluid.page-wrap
  div.row
    div.col-md-10.col-md-offset-1
      h1.Title.text-center Program ##{message}
      div.row
        div.col-md-8.col-md-offset-2.text-center
          | <br>
          p Information about program ##{message}
          table.table-striped.table-bordered
            thead
              tr
                th Program Type &nbsp
                th Term &nbsp
                th Price &nbsp
                th Name &nbsp
                th Program Id &nbsp
            tbody
                tr
                  td #{program.programType}
                  td #{program.term}
                  td #{program.price}
                  td #{program.name}
                  td #{program.programId}
          | <br>
          | <br>
          table.table-striped.table-bordered
            thead
              tr
                th Start Time &nbsp
                th End Time &nbsp
                th Day of Week &nbsp
                th Location &nbsp
                th Address &nbsp
                th Teacher &nbsp
                th # of Enrolled &nbsp
            tbody
                tr
                  td #{occurs.startTime}
                  td #{occurs.endTime}
                  td #{occurs.dayOfWeek}
                  td #{islocated.name}
                  td #{islocated.address}
                  td #{teacher.name}
                  td #{count}
            

                    
                          
include ./layouts/footer.jade
