include ./layouts/header.jade

style.
  table, th, td {
  border: 1px solid black;}

script.
  function myFunction(input) {
    window.open("../congratulations/" + input, height=200,width=200);}


div.container-fluid.page-wrap
  div.row
    div.col-md-10.col-md-offset-1
      h1.Title.text-center Hello User ##{message}
      div.row
        div
          p.text-center Here you can see the progrrams you're currently in and not in. You can also add or drop classes.
          | <br>
          p Programs I'm Already Registered In
          table.table-striped.table-bordered
            thead
              tr
                th Program Type &nbsp
                th Term &nbsp
                th Price &nbsp
                th Name &nbsp
                th Program Id &nbsp
            tbody
              each row, i in registered
                tr
                  td
                    =row.programType
                  td
                    =row.term
                  td
                    =row.price
                  td
                    =row.name
                  td
                    a(href="../programs/#{row.programId}")= row.programId
                  td
                    |<form method="post"><button type="submit" name="drop" value="#{row.programId}">Drop</button></form>
                    
          | <br>
          p Programs I'm Not Registered In
          table.table-striped.table-bordered
            thead
              tr
                th Program Type &nbsp
                th Term &nbsp
                th Price &nbsp
                th Name &nbsp
                th Program Id &nbsp
            tbody
              each row, i in notRegistered
                tr
                  td
                    =row.programType
                  td
                    =row.term
                  td
                    =row.price
                  td
                    =row.name
                  td
                    a(href="../programs/#{row.programId}")= row.programId
                  td
                    |<form method="post"><button type="submit" name="register" value="#{row.programId}" onclick="myFunction(#{row.programId})">Register</button></form>
          
          | <br>
          | <br>

                    
                          
include ./layouts/footer.jade
